<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/home.css">
  </head>
  <body>
    <div class="topo">
      <h1>Planeje seu dia agora!</h1>
    </div>
    
    <div class="subtitulo">
      <p>E agora, o que você vai fazer:</p>
    </div>
    
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="espace1">
                        <a href="/newTask"><div class="caixa">
                            <h1><b>Adicionar Tarefa</b></h1>
                        </div></a>
                    </div>
                </div>  
            
                <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="espace1">
                        <a href="/taskList"><div class="caixa">
                            <h1><b>Lista de Tarefas</b></h1>
                        </div></a>
                    </div>
                </div>  
            </div>
        </div>
    </div>
  </body>
</html>